.touteCarte{
    display: flex;
    justify-content: space-around;
}


.cartes{
    
    // width: 20%;
    border-radius: 25px;
    padding: 3rem;
    margin: 2rem;
    

    background: rgba(219, 223, 225, 0.11);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    transition: transform .2s;
    color: white;

    &:hover{
        transform: translateY(-5px);
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.309);
    }
}

@media screen and (max-width:600px) {
    .touteCarte{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .cartes{
    
        
        border-radius: 25px;
        padding: 1rem;
        
    
    }
}