.entete__header{
    background-image: url('../images/logo.png') ;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 25%;
}

@media screen and (max-width:600px) {
    .entete__header{
        background-position: 50% 50%;
    }
}