*,
*::before,
*::after{
    box-sizing: border-box;
}


body{
    display: flex;
    flex-direction: column;
    font-family: 'Prompt', sans-serif;
    
}
.global{
    display: flex;
    justify-content: center;
    min-height: 40vh;
}

.global > section,
.global > header,
.global > footer{
//flex :grow shrink basis
    flex: 0 1 900px;
    // background-color: rgba(#000, 0.05);
    padding: 5rem 1rem;
    text-align: center;
    

}

.global > header {
    flex: 1;
}

#entete{
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-entete);
    position: relative;
}
#accueil{
    background-color: var(--couleur-arriere-accueil);
    color: var(--couleur-accueil);
}
#galerie{
    color: var(--couleur-galerie);
    z-index: 1;
    background: linear-gradient(180deg, var(--couleur-arriere-accueil), var(--couleur-arriere-evenement));
}
#evenement{
    background-color: var(--couleur-arriere-evenement);
    color: var(--couleur-evenement);
    position: relative;
}
#footer{
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
}