body{
    display: flex;
    flex-direction: column;
    font-family: 'Prompt', sans-serif;
    
}
.global{
    display: flex;
    justify-content: center;
    min-height: 40vh;
}

.global > section,
.global > header,
.global > footer{
//flex :grow shrink basis
    flex: 0 1 900px;
    background-color: rgba(#000, .2);
    padding: 5rem 1rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

#entete{
    background-color: var(--couleur-arriere-entete);
}
#accueil{
    background-color: var(--couleur-arriere-accueil);
}
#galerie{
    background-color: var(--couleur-arriere-galerie);
}
#evenement{
    background-color: var(--couleur-arriere-evenement);
}
#footer{
    background-color: var(--couleur-arriere-footer);
}