

/*

*/
:root{

    --couleur-arriere-entete:#efe1ff;
    --couleur-arriere-accueil:#d8bafb;
    --couleur-arriere-galerie:#c497f8;
    --couleur-arriere-evenement:#9a5be2;
    --couleur-arriere-footer:#7f41c6;
}