

/*

*/
:root{

    --couleur-arriere-entete:#ccc;
    --couleur-arriere-accueil:#ebb;;
    --couleur-arriere-galerie:#9f4f4f;
    --couleur-arriere-evenement:#dd1;
    --couleur-arriere-footer:#aaa;
}