.carte{
    border:1px solid #aaa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:0 1 23%;
    background-color: rgb(54, 107, 186);
}

.section_cours{
    display: flex;
    flex-wrap: wrap;
    gap : 1rem;
}