.buttonn_evenement {
  background-image: linear-gradient(#1089b1, #084365);
  border-radius: 999px;
  box-shadow: #1aadb8 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent; 
  padding: 12px 24px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  transition: transform .2s;


  &:hover {
    background-image: linear-gradient(rgb(239, 185, 25), rgb(199, 135, 6));
    box-shadow: #f0cc55  0 3px 15px 3px;
    transform: translateY(-5px);
    

  }

  &:active {}

}