/*
slecteur textuel de base

https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjUwMHB4IiwibWF4V2lkdGgiOiI5MDBweCIsIm1pbkZvbnRTaXplIjoiMTZweCIsIm1heEZvbnRTaXplIjoiNDhweCJ9 
https://developer.mozilla.org/en-US/docs/Web/CSS/clamp 
*/


h1{
    font-size: clamp(1rem, 2.5vw, 2rem); 
 
}
h2{ font-size: clamp(1rem, -0.5714rem + 6.2857vw, 3.75rem);
  

}
h2:hover{
    border: 1px solid #000;
    border-radius: 50px;
    background-color: #000;
    color: #000
}
h3{
    font-size: clamp(1rem, 2.5vw, 1.8rem);
    color: rgb(75, 149, 214);
}
h4{
    font-size: clamp(1rem, 2.5vw, 1.6rem);
    color: rgb(176, 203, 226);
}
h5{
    font-size: clamp(1rem, 2.5vw, 1.4rem);
    color: rgb(105, 126, 145);
}
h6{
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    color: rgb(27, 77, 120);
}


p{}

hr{}